.invalid {
    border: 2px solid rgb(169, 0, 0) !important;
}

.button-invalid{
    cursor: not-allowed !important;
}

.iniciosesion {
    display: flex;
    height: 100vh;
}

.ventana {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventana img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login1 {
    display: flex;
    flex-direction: column;
    background-color: #dbdbdb;
    border-radius: 15px;
    padding: 15px 40px;
    text-align: left;
    width: 100%;
    max-width: 500px;
    overflow-y: auto;
}

.login .login1 p {
    color: #002e5e;
    font-weight: 700;
}

.titulo {
    border: 2px solid #002e5e;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
    width: 50%;
    font-weight: 700;

}

.titulo h1 {
    font-size: 2rem;
    color: #002e5e;
    margin-bottom: 10px;
}

.login .login1 label {
    color: #002e5e;
    margin-bottom: 5px;
}

.login .login1 input {
    margin-bottom: 20px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    background-color: #FFFFFF;
}
small{
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.login .login1 .boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login1 .boton button {
    width: 420px;
    border: 1px solid #A5D9D0;
    border-radius: 5px;
    padding: 9px;
    background-color: #A5D9D0;
}

.login .login1 .nologin {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login1 .nologin u {
    color: #002e5e;
}

.login .login2 {
    display: flex;
    gap: 10px;

}

.login .login2 div {
    width: 50%;
}
.showpassword, .showpassword>button{
    margin-top: 5px;
    width: 100%;
}
.btn-showpassword{
    background-color: #A5D9D0;
    outline: 1px solid #000000;
}

.login .login2 select,
.login .login1 input {
    width: 100%;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

.gender {
    margin-bottom: 10px;
}

.gender input {
    margin-left: 10px;
    margin-right: 10px;
}

.gender label {
    margin-left: 10px;
    margin-right: 10px;
}

.gender input[type="radio"] {
    display: none;
}

.gender label {
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    font-size: 16px;
}

.gender label::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.gender input[type="radio"]:checked+label::before {
    background-color: indigo;
    border-color: indigo;
}

.gender input[type="radio"]:checked+label::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 5.2px;
    top: 50%;
    transform: translateY(-50%);
}

.gender label {
    margin-right: 10px;
}

.login .volver a {
    color: #002e5e;
}


@media(max-width: 1024px) {
    .iniciosesion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iniciosesion .ventana {
        justify-content: center;
        height: 120px;
        width: 120px;
        margin-bottom: 15px;
    }

    .iniciosesion .login {
        width: 80%;
    }

}

@media (max-width:768px) {
    .iniciosesion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iniciosesion .ventana {
        justify-content: center;
        height: 120px;
        width: 120px;
        margin-bottom: 15px;
    }

    .iniciosesion .login {
        width: 80%;
    }

    .login2 label[for="password"] {
        margin-top: 25px;
    }

}