
.navbar {
    background-color: #eff9f9;
    padding: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    max-width: 70px;
    margin-right: 10px;
}

.navbar-brand h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #002e5e;
}

.navbar-brand h1 span {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 450;
    transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
    color: #002e5e;
    font-weight: 600;
    transform: scale(1.1);

}

.btn-login {
    background-color: #002e5e;
    color: #01CFC9;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    transform: scale(1.1);
}