<app-navbar></app-navbar>
<div class="container">
    <div class="tratamiento">
        <h1>Ortodoncia</h1>
        <p>Esta especialidad tiene como fin el diagnóstico y tratamiento de las alteraciones de la posición de los
            dientes y/o huesos maxilares. Por lo general, el tratamiento implica la colocación de brackets y alambres
            delgados que tienen la función de alinear los dientes y ajustar la mordida de manera ideal.</p>
        <ul>
            <li>Maloclusión I.II y III </li>
            <li>Brackets estéticos</li>
            <li>Brackets metálicos</li>
            <li>Brackets Lingual</li>
        </ul>
    </div>
    <div class="imagen">
        <img src="media/tipoortodoncia.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Endodoncia</h1>
        <p>Cuando la parte viva interna del cliente ha sido infectada a causa de caries profundas, el tratamiento de
            endodoncia implica limpiar y sellas los conductos dentales para salvar la pieza afectada. Luego es posible
            reconstruir la porción externa del diente.</p>
        <ul>
            <li>Endodoncia molares</li>
            <li>Retratamiento de endondoncias</li>
        </ul>
    </div>
    <div class="imagen">
        <img src="media/endodoncia-multirradicular.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Cirugías</h1>
        <p>Estas intervenciones son realizadas por cirujanos orales o maxilofaciales, profesionales especializados en el
            diagnóstico y tratamiento de afecciones que no pueden ser resueltas con tratamientos convencionales.</p>
        <ul>
            <li>Bichectomias</li>
            <li>Frenilectomias</li>
            <li>Muelas del jucio/cordales</li>
            <li>Supernumerario</li>
        </ul>
    </div>
    <div class="imagen">
        <img src="media/cirugiadental.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Estéticas Dental</h1>
        <p>Es una especialidad de la odontología que soluciona problemas relacionados con la salud bucal y la armonía
            estética de la boca en su totalidad​</p>
        <ul>
            <li>Diseño de sonrisa </li>
            <li>Carillas de zirconio</li>
            <li>Carillas de disilicato de litio</li>
            <li>Carillas con resina</li>
        </ul>
    </div>
    <div class="imagen">
        <img src="media/esteticadental2.jpg" alt="">
    </div>
</div>