<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/436424315_122096581724324850_7376354856937511274_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeErP69JvLepg57eRhXkYqwSzVrqw8A-_sLNWurDwD7-wmY5IEk0fX-7nPDFiV_NUOWmQEG9DUCBGEOsLob9FLdC&_nc_ohc=juv-P1RPpfkQ7kNvgHCMYxp&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AE6UdHQBmiTmTFI46pYVYAW&oh=00_AYA49MsNt8w2QbrdtlLU0MM35sFW2rik4oQo3zJUK2rDVg&oe=6717CD56"
                alt="Logo Clínica Dental Villegas">
            <div>
                <h1><u>Clínica Dental </u><span><u>
                            <h1>Villegas</h1>
                        </u></span></h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tratamientos">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactos</a>
                </li>
            </ul>
            <a href="iniciosesion" class="btn btn-login">Iniciar sesión</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>