<div class="container-dashboard">
<div class="form-container">
    <h1>Agregar horario</h1>
    <form [formGroup]="agregarHorarioForm">
      <div class="form-group">
        <label for="day">Seleccione día</label>
        <select id="day" formControlName="dia">
          <option value="" disabled>Seleccione días de la semana</option>
          <option value="monday">Lunes</option>
          <option value="tuesday">Martes</option>
          <option value="wednesday">Miércoles</option>
          <option value="thursday">Jueves</option>
          <option value="friday">Viernes</option>
          <option value="saturday">Sábado</option>
          <option value="sunday">Domingo</option>
        </select>
        <div *ngIf="agregarHorarioForm.get('dia')?.invalid && agregarHorarioForm.get('dia')?.touched" class="error"style="color: red;font-size:12px;">
          Día es obligatorio.
        </div>
        
        <label for="start-time">Seleccione hora de inicio</label>
        <input type="time" id="start-time" formControlName="horaInicio">
        <div *ngIf="agregarHorarioForm.get('horaInicio')?.invalid && agregarHorarioForm.get('horaInicio')?.touched" style="color: red;font-size:12px;" class="error">
          Hora de inicio es inválida.
        </div>
        
        <label for="end-time">Seleccione hora de fin</label>
        <input type="time" id="end-time" formControlName="horaFin">
        <div *ngIf="agregarHorarioForm.get('horaFin')?.invalid && agregarHorarioForm.get('horaFin')?.touched" class="error" style="color: red;font-size:12px;">
          Hora de fin es inválida.
        </div>
      </div>
      <button class="btn" type="submit">Agregar horario</button>
    </form>
  </div>
<div class="tabla-container-horarios">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Hora de inicio</th>
            <th scope="col">Hora de fin</th>
          </tr>
        </thead>
        <tbody>
            @for (horario of horarios | async; track $index) {
          <tr>
            <th scope="row">{{horario.dia}}</th>
            <td>{{horario.horaComienzo}}</td>
            <td>{{horario.horaFin}}</td>
          </tr>
        }
        </tbody>
      </table>
</div>
</div>
