.container-dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    gap: 10px;
}
.form-container {
    width: 400px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.form-container h1 {
    font-size: 1.85rem;
    font-weight: 650;
    color: #002e5e;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    color: #555555;
    margin-bottom: 5px;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: #ffffff;
}

.form-group select {
    background-color: #ffffff;
}

.form-group input[type="time"]::-webkit-calendar-picker-indicator {
    margin-left: -25px;
}

.btn {
    width: 150px;
    margin-left: 210px;
    padding: 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #001f54;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 200px;
}

.btn:hover {
    background-color: #00337c;
}

.tabla-container-horarios{
    max-width: 1300px;
    width: 70%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
