<div class="container-dashboard">
<div class="form-container">
    <h1>Agregar horario</h1>
    <div class="form-group">
        <label for="day">Seleccione día</label>
        <select id="day" name="day">
            <option value="" disabled selected>Seleccione días de la semana</option>
            <option value="monday">Lunes</option>
            <option value="tuesday">Martes</option>
            <option value="wednesday">Miércoles</option>
            <option value="thursday">Jueves</option>
            <option value="friday">Viernes</option>
            <option value="saturday">Sábado</option>
            <option value="sunday">Domingo</option>
        </select>
    </div>
    <div class="form-group">
        <label for="start-time">Seleccione hora de inicio</label>
        <input type="time" id="start-time" name="start-time">
    </div>
    <div class="form-group">
        <label for="end-time">Seleccione hora de fin</label>
        <input type="time" id="end-time" name="end-time">
    </div>
    <button class="btn" type="submit">Agregar horario</button>
</div>
<div class="tabla-container-horarios">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Hora de inicio</th>
            <th scope="col">Hora de fin</th>
          </tr>
        </thead>
        <tbody>
            @for (horario of Horarios | async; track $index) {
          <tr>
            <th scope="row">horario.dia</th>
            <td>horario.horaComienzo</td>
            <td>horario.horaFin</td>
          </tr>
        }
        </tbody>
      </table>
</div>
</div>
