<div class="container mt-4">
    <h2 class="mb-4">Tipo de documento</h2>
    <div class="d-flex justify-content-start mb-3">
        <form [formGroup]="busquedaForm">
            <input type="text" class="form-control" formControlName="busqueda" (change)="onBusquedaChange($event)" placeholder="Buscar por nombre" />
        </form>
        <button class="btn btn-primary ms-3">Agregar</button>
    </div>
    <table class="table table-hover custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acrónimo</th>
                <th>Acción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (tipoDocumento of tiposDocumento | async; track $index) {
                <tr>
                    <td>{{ tipoDocumento.id }}</td>
                    <td>{{ tipoDocumento.nombre }}</td>
                    <td>{{ tipoDocumento.acronimo }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
