.container {
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.custom-table th {
    background-color: #f6fcfd;
    color: #002855;
    font-weight: bold;
}

.custom-table tbody tr:hover {
    background-color: #e6f7fa;
}

.btn {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
}

.btn-primary {
    background-color: #002855;
    border-color: #002855;
}

.btn-danger {
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}