<div class="container mt-4">
    <h2 class="mb-4">Tratamientos</h2>
    <div class="d-flex justify-content-start mb-3">
        <input type="text" class="form-control w-50" placeholder="Buscar" />
        <button class="btn btn-primary ms-3">Agregar</button>
    </div>
    <table class="table table-hover custom-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Tipo</th>
                <th>Duración</th>
                <th>Acción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (tratamiento of tratamientos | async; track $index) {
                <tr>
                    <td>{{ tratamiento.id }}</td>
                    <td>{{ tratamiento.nombre }}</td>
                    <td>{{ tratamiento.descripcion }}</td>
                    <td>{{ tratamiento.costo }}</td>
                    <td>{{ tratamiento.tipoTratamiento.nombre }}</td>
                    <td>{{ tratamiento.duracion }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
