<app-navbar></app-navbar>
<div class="subtitulos">
    <h2>Somos una Clínica Dental Especializada enfocada en la Rehabilitación Oral a nuestros pacientes.</h2>
    <p>Te asesoramos en el procedimiento que necesitas con los mejores profesionales.</p>
    <a routerLink="/dashboard/reserva" class="btn btn-login btn-login-alt">!RESERVA AHORA!</a>
</div>
<div class="datos">
    <div class="telefono">
        <a href="#" class="btn btn-login">
            <i class="bi bi-telephone-fill"></i>
        </a>
        <u>921 785 848</u>
    </div>
    <div class="ubicacion">
        <a href="#" class="btn btn-login">
            <i class="bi bi-geo-alt-fill"></i>
        </a>
        <u>C.C GOLD CENTER 2°do Piso</u>
    </div>
</div>

<div class="promociones">
    <img src="media/promocion1.jpg"
        alt="">
    <img src="media/promocion2.jpg" alt="">
    <img src="media/promocion3.jpeg" alt="">
</div>
<div class="servicios">
    <h4>NUESTROS SERVICIOS</h4>
    <h1>Lista de nuestros tratamientos</h1>
</div>
<div class="tratamientos">
    <div class="box1">
        <img src="media/endodoncia.png" alt="">
        <h4 class="titulo">Endodoncia</h4>
        <p class="parrafo1">Tratamiento para eliminar la pulpa dental infectada y salvar el diente.</p>
    </div>
    <div class="box2">
        <img src="media/ortodoncia.png" alt="">
        <h4 class="titulo">Ortodoncia </h4>
        <p class="parrafo1">Contamos con el servicio de tratamiento con brackets</p>
    </div>

    <div class="box1">
        <img class="especial" src="media/cirugia.png" alt="">
        <h4 class="titulo">Cirugías</h4>
        <p class="parrafo1">Corrige problemas dentales complejos mediante intervenciones quirúrgicas</p>
    </div>
    <div class="box2">
        <img src="media/estetica.png" alt="">
        <h4 class="titulo">Estética Dental</h4>
        <p class="parrafo1">Diseño de sonrisa y carillas para mejorar tu apariencia</p>
    </div>
</div>
<div class="botonmas">
    <a routerLink="/tratamientos" class="btn-reserva">Mostrar más</a>
</div>
<div class="info">
    <div class="Razon">
        <div class="texto1">
            <h3>TÉCNOLOGIA Y EXPERIENCIA</h3>
            <h2>¿Porque escoger nuestra clinica?</h2>
            <p>La Clínica Dental Villegas se destaca por su compromiso con la salud bucal de sus pacientes, ofreciendo
                un
                servicio de calidad, personalizado y respaldado por la experiencia de sus dentistas. Además, contamos
                con
                equipos de última generación para la atención con resultados inmediatos.
            </p>
        </div>
        <div class="horario">
            <div class="icono">
                <i class="bi bi-clock"></i>
            </div>
            <div class="texto2">
                <h3>Horarios completos para todos</h3>
                <p>
                    Los Centros Dental están abiertos de 6pm hastcontinuamente.
                </p>
            </div>
        </div>
        <div class="condiciones">
            <div class="icono">
                <i class="bi bi-cash-coin"></i>
            </div>
            <div class="texto2">
                <h3>Condiciones de pago</h3>
                <p>
                    Clinica Dental Villegas ofrece un plan de pago personalizado. La salud del paciente debe ser siempre
                    nuestro primer objetivo.
                </p>
            </div>
        </div>
    </div>
    <div class="muestra">
        <img src="media/muestra.jpg" alt="">
    </div>
</div>
<div class="dentistas-section">
    <h2>NUESTROS DENTISTAS</h2>
    <p>Conoce a nuestros expertos: tu sonrisa en manos profesionales</p>

    <div class="dentistas-container">
        <div class="dentista-card">
            <div class="imagen">
                <img src="media/percy.jpg" alt="Percy Villegas">
            </div>
            <h3>Percy Villegas</h3>
            <p>Cirujano dental</p>
        </div>

        <div class="dentista-card">
            <div class="imagen">
                <img src="media/ana.jpg" alt="Ana Sofia Vergara">
            </div>
            <h3>Ana Sofia Vergara</h3>
            <p>Cirujano Dental</p>
        </div>

        <div class="dentista-card">
            <div class="imagen">
                <img src="media/luca.jpg" alt="Luca Ferrero">
            </div>
            <h3>Luca Ferrero</h3>
            <p>Higienista dental</p>
        </div>

        <div class="dentista-card">
            <div class="imagen">
                <img src="media/giulia.jpg" alt="Giulia Santi">
            </div>
            <h3>Giulia Santi</h3>
            <p>Odontotecnico</p>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="text-center mb-4">
        <h3>Preguntas frecuentes</h3>
        <h2>¿Tiene alguna pregunta?</h2>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item mt-3 rounded-4">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-4 custom-color" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Cuándo debes cepillarte los dientes durante el día?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Pasados ​​20 o 30 minutos después de las comidas principales, para permitir que la saliva
                        neutralice la acidez de algunos alimentos, como los cítricos, el café y las bebidas
                        carbonatadas. Se deben cepillar los dientes durante al menos dos minutos. Aquellos que sufren de
                        inflamación de las encías deberían llegar a 4-5.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item mt-3 rounded-4">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-4 collapsed custom-color" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    ¿Qué alimentos ayudan a mantener los dientes limpios si tienes frenillos?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item mt-3 rounded-4">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-4 collapsed custom-color" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    ¿Cómo limpiar correctamente los dientes de los niños?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item mt-3 rounded-4">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-4 collapsed custom-color" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    ¿Los cepillos de dientes con cerdas duras proporcionan una limpieza más profunda?

                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item mt-3 rounded-4">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-4 collapsed custom-color" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    ¿Qué importancia tiene la higiene bucal para los fumadores?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                    collapse plugin adds the appropriate classes that we use to style each element. These classes
                    control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                    modify any of this with custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit
                    overflow.
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" (click)="router.navigate(['blog'])">Descubra más</button>
    </div>
    <div class="opiniones">
        <h1>NUESTRAS OPINIONES</h1>
        <h2>Lo que dicen de nosotros</h2>
        <div class="opiniones-card">
            <div class="opiniones-card1">
                <i class="bi bi-person-circle persona"></i>
                <u>FISIO AMOR</u>
                <p>Muy buena calidad de servicio y equipos de primera. Lo recomiendo porque su trabajo es con excelencia
                    A1</p>
                <div class="estrellas">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
            <div class="opiniones-card1">
                <i class="bi bi-person-circle persona"></i>
                <u>Alejandro Tovar</u>
                <p>Atención profesional y de muy buena calidad</p>
                <div class="estrellas">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
            <div class="opiniones-card1">
                <i class="bi bi-person-circle persona"></i>
                <u>Denisse Villegas Ramos</u>
                <p>Me encantó la atención, Gracias Dr.Recomendadisimo.....!</p>
                <div class="estrellas">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="clinica">
        <h1><u>Clincia Dental Villegas</u></h1>
        <p>Ofrecemos el mejor servicio para tu salud dental en la ciudad de Ica</p>
        <div class="redes">
            <div class="a">
               <a href=""><i class="bi bi-twitter azul"></i></a> 
            </div>
            <div class="b">
                <a href=""><i class="bi bi-facebook blanco"></i></a> 
            </div>
            <div class="b">
                <a href=""><i class="bi bi-instagram blanco"></i></a>
            </div>
        </div>
    </div>
    <div class="tratamiento">
        <h2>Tratamientos</h2>
        <p>Ortodoncia</p>
        <p>Endodoncia</p>
        <p>Cirugías</p>
        <p>Estetica Dental</p>
    </div>
    <div class="acerca">
        <h2>Acerca de</h2>
        <p>Consultas</p>
        <p>Soporte</p>
        <p>Citas</p>
    </div>
    <div class="contacto">
        <h2>Contacto</h2>
        <div class="a">
            <i class="bi bi-envelope-at-fill"></i>
            <p>chemavillegas06&#64;gmail.com</p>
        </div>
        <div class="a">
            <i class="bi bi-telephone"></i>
                <u>921 785 848</u>
        </div>
        <div class="a">
            <i class="bi bi-clock"></i>
            <p>Lun-Sab 9:00-20:00</p>
        </div>
        <div class="a">
            <i class="bi bi-geo-alt"></i>
            <p>C.C GOLD CENTER 2°do Piso (calle Lima)</p>
        </div>
    </div>
</div>