.container-dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 10px;
    gap: 10px;
}
full-calendar{
    width: 60%;
}
app-stepper{
    width: 30%;
}
@media (width <= 1024px) {
    .container-dashboard{
        flex-direction: column;
    }
    full-calendar{
        width: 100%;
    }
    app-stepper{
        width: 100%;
    }
}