<div class="container-dashboard">
    <app-stepper>
        <ng-template #step>
            <label for="tratamiento-label" class="form-label">Selecciona un tratamiento:</label>
            <select id="tratamiento-label" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
            </select>
            <label for="especialidad-label" class="form-label">Selecciona una especialidad:</label>
            <select id="especialidad-label" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
            </select>
            <label for="medico-label" class="form-label">Selecciona un dentista:</label>
            <select id="medico-label" class="form-select" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Opción 1</option>
                <option value="2">Opción 2</option>
                <option value="3">Opción 3</option>
            </select>
        </ng-template>

        <ng-template #step>
            <h3>Paso 2</h3>
            <p>Contenido personalizado del paso 2</p>
        </ng-template>

        <ng-template #step>
            <h3>Paso 3</h3>
            <p>Contenido personalizado del paso 3</p>
        </ng-template>
    </app-stepper>
    @if (isBrowser) {
    <full-calendar [options]="calendarOptions"></full-calendar>
    }
</div>