<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/436424315_122096581724324850_7376354856937511274_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeErP69JvLepg57eRhXkYqwSzVrqw8A-_sLNWurDwD7-wmY5IEk0fX-7nPDFiV_NUOWmQEG9DUCBGEOsLob9FLdC&_nc_ohc=juv-P1RPpfkQ7kNvgHCMYxp&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AE6UdHQBmiTmTFI46pYVYAW&oh=00_AYA49MsNt8w2QbrdtlLU0MM35sFW2rik4oQo3zJUK2rDVg&oe=6717CD56"
                alt="Logo Clínica Dental Villegas">
            <div>
                <h1><u>Clínica Dental </u><span><u>
                            <h1>Villegas</h1>
                        </u></span></h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tratamientos">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactos</a>
                </li>
            </ul>
            <a href="iniciosesion" class="btn btn-login">Iniciar sesión</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="tratamiento">
        <h1>Ortodoncia</h1>
        <p>Esta especialidad tiene como fin el diagnóstico y tratamiento de las alteraciones de la posición de los
            dientes y/o huesos maxilares. Por lo general, el tratamiento implica la colocación de brackets y alambres
            delgados que tienen la función de alinear los dientes y ajustar la mordida de manera ideal. </p>
        <ul>
            <li>Manejo de clase I.II y III </li>
            <li>Brackets estéticos</li>
            <li>Brackets metálicos</li>
            <li>Brackets Lingual</li>
        </ul>
    </div>
    <div class="imagen">
    <img src="media/tipoortodoncia.jpg" alt="">
</div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Endodoncia</h1>
        <p>Cuando la parte viva interna del cliente ha sido infectada a causa de caries profundas, el tratamiento de endodoncia implica limpiar y sellas los conductos dentales para salvar la pieza afectada. Luego es posible reconstruir la porción externa del diente. </p>
        <ul>
            <li>Endodoncia molares</li>
            <li>Retratamiento de endondoncias</li>
        </ul>
    </div>
    <div class="imagen">
    <img src="media/endodoncia-multirradicular.jpg" alt="">
</div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Cirugias</h1>
        <p>Estas intervenciones son realizadas por cirujanos orales o maxilofaciales, profesionales especializados en el diagnóstico y tratamiento de afecciones que no pueden ser resueltas con tratamientos convencionales. </p>
        <ul>
            <li>Bichectomias</li>
            <li>Frenilectomias</li>
            <li>Muelas del jucio/cordales</li>
            <li>Supernumerario</li>
        </ul>
    </div>
    <div class="imagen">
    <img src="media/cirugiadental.jpg" alt="">
</div>
</div>
<div class="container">
    <div class="tratamiento">
        <h1>Estéticas Dental</h1>
        <p>Es una especialidad de la odontología que soluciona problemas relacionados con la salud bucal y la armonía estética de la boca en su totalidad.​</p>
        <ul>
            <li>Diseño de sonrisa </li>
            <li>Carillas de zirconio</li>
            <li>Carillas de disilicato de litio</li>
            <li>Carillas con resina</li>
        </ul>
    </div>
    <div class="imagen">
    <img src="media/esteticadental2.jpg" alt="">
</div>
</div>



