
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 12%;

}
.container .texto{
    height: 300px;
    width: 350px;
    border: 1px solid #01CFC9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.container .texto .pregunta{
    width: 70%;
}

