<app-navbar></app-navbar>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>
<div class="container">
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
            <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
        </div>
    </div>    
    <div class="texto">
        <img src="" alt="">
        <div class="pregunta">
        <p>¿Sabías qué y cuales son los malos hábitos orales?</p>
    </div>
    </div>
</div>