<div class="iniciosesion">
    <div class="ventana">
        <img src="media/ventana.png" alt="">
    </div>
    <div class="login">
        <div class="login1">

            <div class="titulo">
                <h1>Inicio Sesion</h1>
            </div>

            <p>Bienvenido a la Clinica Dental Villegas</p>

            <form [formGroup]="loginform" (ngSubmit)="login()">
                <label for="email">Correo Electrónico (Gmail):</label>
                <input type="email" id="email"
                    [class]="{'invalid': loginform.get('correo')?.invalid && loginform.get('correo')?.touched}"
                    formControlName="correo" placeholder="Ingresa tu correo electrónico" required>
                <small class="form-text text-danger"
                    [hidden]="!loginform.get('correo')?.invalid || !loginform.get('correo')?.touched">El
                    campo es requerido</small>
                <label for="password">Contraseña:</label>
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="contrasena"
                    [class]="{'invalid': loginform.get('contrasena')?.invalid && loginform.get('contrasena')?.touched}"
                    placeholder="Ingresa tu contraseña" required>
                <small class="form-text text-danger"
                    [hidden]="!loginform.get('contrasena')?.invalid || !loginform.get('contrasena')?.touched">El
                    campo es requerido</small>
                <div class="showpassword">
                    <button type="button" (click)="showPassword = !showPassword" class="btn btn-showpassword">
                        <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                </div>
                <div class="boton">
                    <button type="submit" [class]="{'button-invalid': loginform.invalid}" class="btn btn-showpassword"
                        [disabled]="loginform.invalid">Iniciar Sesión</button>
                </div>
            </form>

            <div class="nologin">
                <a href="registro"><u>¿Eres nuevo? Registrate AQUÍ!</u></a>
            </div>

            <div class="volver">
                <a href="inicio"><u>Volver</u></a>
            </div>
        </div>
    </div>
</div>