body {
    margin: auto;
    padding: auto;
    background-color: #EAF7F9;
}
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #112862;
    --first-color-light: #5fffff;
    --white-color: #F7F6FB;
    --body-font: sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}
*,
::before,
::after {
    box-sizing: border-box
}
