.bg-info {
    background-color: var(--first-color) !important;
}

.bg-primary {
    background-color: #d5d5d5 !important;
}

.bg-dark {
    background-color: #1e1e2f !important;
}

.text-warning {
    color: #ffc107 !important;
}

nav{
    margin-top: 20px;
}
.pagination .page-item .page-link {
    color: #00485b;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination .page-item .page-link:hover {
    background-color: #e9f6f7;
    border-color: #00485b;
}

.pagination .page-item .page-link.active {
    background-color: #022859;
    color: #ffffff;
    border-color: #ffffff;
    font-weight: bold;
}
.bg-custom{
    background-color: #112862;
}