.bg-info {
    background-color: var(--first-color) !important;
}

.bg-primary {
    background-color: #d5d5d5 !important;
}

.bg-dark {
    background-color: #1e1e2f !important;
}

.text-warning {
    color: #ffc107 !important;
}
