<div class="historial-container">
    <div class="titulo-historial">
        <h1>Historial de Reservas</h1>
    </div>
    <div class="tabla-container">
        <table class="reservas-historial">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Dentista</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Monto</th>
                  <th>Acción</th>
                </tr>
            </thead>
              <tr>
                <td>1</td>
                <td>
                  Diego Aguilar<br>
                  <span class="dni-reserva">97624562</span>
                </td>
                <td>
                  Tipo: Ortodoncia<br>
                  Tratamiento: Brackets<br>
                  Fecha: 12/09/2024<br>
                  Hora: 12:00pm
                </td>
                <td><span class="estado-reserva pendiente">Pendiente</span></td>
                <td>S/.270.00 PEN</td>
                <td>
                  <button class="btn cancelar">Cancelar</button>
                  <button class="btn reprogramar">Reprogramar</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Carlos Oliva<br>
                  <span class="dni-reserva">75657382</span>
                </td>
                <td>
                  Tipo: Ortodoncia<br>
                  Tratamiento: Brackets<br>
                  Fecha: 12/09/2024<br>
                  Hora: 12:00pm
                </td>
                <td><span class="estado-reserva pendiente">Pendiente</span></td>
                <td>S/.970.00 PEN</td>
                <td>
                  <button class="btn cancelar">Cancelar</button>
                  <button class="btn reprogramar">Reprogramar</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Jose Villegas<br>
                  <span class="dni-reserva">34565459</span>
                </td>
                <td>
                  Tipo: Ortodoncia<br>
                  Tratamiento: Brackets<br>
                  Fecha: 12/09/2024<br>
                  Hora: 12:00pm
                </td>
                <td><span class="estado-reserva completado">Completado</span></td>
                <td>S/.970.00 PEN</td>
                <td>
                </td>
              </tr>
        </table>
    </div>
</div>
