<div class="historial-container">
  <div class="titulo-historial">
    <h1>Historial de Reservas</h1>
  </div>
  <div class="tabla-container mb-3">
    <form [formGroup]="formCitas">
      <label for="fechaInicio">Fecha de inicio</label>
      <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" formControlName="fechaInicio"
        [class]="{'is-invalid': formCitas.get('fechaInicio')?.invalid && formCitas.get('fechaInicio')?.touched}"
        (change)="loadDataWithParams()">
      <label for="fechaFin">Fecha de fin</label>
      <input type="date" class="form-control" id="fechaFin" name="fechaFin" formControlName="fechaFin"
        [class]="{'is-invalid': formCitas.get('fechaFin')?.invalid && formCitas.get('fechaFin')?.touched}"
        (change)="loadDataWithParams()">
      <label for="estado">Estado</label>
      <select class="form-select" id="estado" name="estado" formControlName="estado"
        (change)="loadDataWithParams()">
        <option value="Pendiente">Pendiente</option>
        <option value="Atendida">Atendida</option>
        <option value="Cancelada">Cancelada</option>
      </select>
    </form>
  </div>
  <div class="tabla-container">
    <table class="reservas-historial">
      <thead>
        <tr>
          <th>#</th>
          <th>Dentista</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Monto</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (cita of paginatedCitas; track $index) {
        <tr>
          <td>{{cita.id}}</td>
          <td>
            {{cita.dentista.apellidoPaterno}} {{cita.dentista.apellidoMaterno}}, {{cita.dentista.nombres}}<br>
            <span class="dni-reserva">{{cita.dentista.telefono}}</span>
          </td>
          <td>
            Tipo: {{cita.tratamiento.tipoTratamiento.nombre}}<br>
            Tratamiento: {{cita.tratamiento.nombre}}<br>
            Fecha: {{cita.fecha}}<br>
            Hora: {{cita.hora}}
          </td>
          <td><span class="estado-reserva" [class]="cita.estado.toLowerCase()">{{cita.estado}}</span></td>
          <td>S/.{{cita.tratamiento.costo}} PEN</td>
          <td>
            @if (cita.estado === 'Pendiente') {
              <button class="btn cancelar" (click)="openModalToCancel(cita)">Cancelar</button>
              <button class="btn reprogramar" (click)="establecerHorarios(cita); openModalToReprogramar(cita)">Reprogramar</button>
            }
          </td>
        </tr>

        }
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{ 'disabled': currentPageCita === 1 }">
              <a class="page-link" (click)="onPageChangeCita(currentPageCita - 1)">&#x276E;</a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPagesCita); let i = index">
              <a class="page-link" [ngClass]="{ 'active': currentPageCita === i + 1 }"
                  (click)="onPageChangeCita(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [ngClass]="{ 'disabled': currentPageCita === totalPagesCita }">
              <a class="page-link" (click)="onPageChangeCita(currentPageCita + 1)">&#x276F;</a>
          </li>
      </ul>
  </nav>
  </div>
</div>
<app-modal #modalCancelación>
  <div modal-header>
    <h5 class="modal-title">¿Desea cancelar la reserva?</h5>
  </div>
  <div modal-body>
      @if (trackedCita) {
      <p>La reserva para {{trackedCita.tratamiento.nombre}} con fecha {{trackedCita.fecha}} y hora {{trackedCita.hora}}
        será cancelada.</p>
      }
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" (click)="modalCancelacion.close()">Cancelar</button>
      <button class="btn btn-primary" (click)="cancelarReserva()">Aceptar</button>
    </div>
  </app-modal>
<app-modal #modalReprogramar>
  <div modal-header>
    <h5 class="modal-title">¿Desea reprogramar la reserva?</h5>
  </div>
  <div modal-body>
    <form [formGroup]="formReprogramar">
      <label class="form-label" for="fecha">Fecha:</label>
      <input type="text" [disabled]="true" class="form-control" id="fecha" name="fecha" formControlName="fecha"
      [class]="{'is-invalid': formReprogramar.get('fecha')?.invalid && formReprogramar.get('fecha')?.touched}">
      <app-datepicker [disabledDates]="disabledDates" [minDate]="minDate" [maxDate]="maxDate" (dateSelected)="handleDateSelected($event)"></app-datepicker>
      <small class="form-text text-danger"
        [hidden]="formReprogramar.get('fecha')?.valid || !formReprogramar.get('fecha')?.touched">La
        fecha es obligatoria.</small>
      <label class="form-label" for="hora">Hora:</label>
      <input type="time" class="form-control" id="hora" name="hora" formControlName="hora"
        [class]="{'is-invalid': formReprogramar.get('hora')?.invalid && formReprogramar.get('hora')?.touched}">
        <small class="form-text text-danger"
        [hidden]="!formReprogramar.get('hora')?.hasError('outOfRange') || !formReprogramar.get('hora')?.touched">El
        horario de atención es de {{horarioSelected?.horaComienzo}} a {{horarioSelected?.horaFin}}</small>
    <small class="form-text text-danger mt-1"
        [hidden]="!formReprogramar.get('hora')?.hasError('citaInvalid')">Ya hay un cita reservada en este horario</small>
    </form>
  </div>
  <div modal-footer>
    <button class="btn btn-secondary" (click)="modalReprogramar.close()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="formReprogramar.invalid && activarBoton" (click)="reprogramarReserva()">Reprogramar</button>
  </div>
</app-modal>